@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #4d97ff!important; 
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-cadastro {
    font-weight: bold;
    border-color: white;
}

.btn-cadastro:hover {
    background-color: white;
    text-shadow: none!important;
    color: black!important;
    font-weight: normal ;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}

.buscar {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50px;
    color: white;
    display: inline-block;
    padding: 4px;
    width:300px;
    height:40px;
    outline: none;
}

.buscar > button {
    background: transparent;
    border: none;
    color: #fff;
    padding: 4px 10px;
    outline: none;
    cursor: pointer;
}

.buscar > input {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}

::-webkit-input-placeholder {
    color: white;
    font-weight: normal;
}

.parallax {
    background-image: url(./img/fundo1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.caption {
    text-shadow: 2px 2px 13px black;
}

.caption h1 {
    font-size: 61px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 16px;
}

.caption p {
    font-size: 32px;
    padding-bottom: 26px;
}

.btn-comecar {
    border-width: medium;
    border-radius: 10px;
    padding: 10px 21px;
    font-size: 18px;
    text-shadow: none!important;
 }
 



